<title>Education</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
<br>
            <h2 class="text-center">Education</h2>
            <h4 class="text-center">ประวัติการศึกษา</h4>
<br>


                <div class="text-center">
                <img src="{% static 'images/Education/EduBack.png' %}" width="960" height="250">
                    <br><br>
                <img src="{% static 'images/Education/Edu.png' %}" height="500" width="960"><br><br>
                <h3>ปัจจุบัน มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น</h3>
            </div>
</head>
<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>ชั้นประถมศึกษา ป.1-ป.6</h3>
        <img src="{% static 'images/Education/Edu1.jpg' %}" width="250" height="250">
      <p>จบจากโรงเรียนบ้านวังม่วย  ตำบลวังสามัคคี  อำเภอโพนทอง  สังกัด สำนักงานเขตพื้นที่การศึกษาร้อยเอ็ด เขต 3  จังหวัดร้อยเอ็ด</p>
    </div>
    <div class="col-sm-4">
      <h3>ระดับชั้นมัธยมศึกษา  </h3>
        <img src="{% static 'images/Education/Edu2.jpg' %}" width="250" height="250">
      <p>จบจากโรงเรียนโพนทองวิททยายน 59 หมู่ที่ 3 บ้านโนนสวรรค์ ต.แวง อ.โพนทอง จ.ร้อยเอ็ด 45110
สำนักงานเขตพื้นที่การศึกษามัธยมศึกษา  เขต 27
</p>
    </div>
    <div class="col-sm-4">
      <h3>ระดับปวช-ปวส  </h3>
        <img src="{% static 'images/Education/Edu3.jpg' %}" width="250" height="250">
      <p>วิทยาลัยการอาชีพโพนทอง สถาบันการอาชีวศึกษา สังกัดสำนักงานคณะกรรมการการอาชีวศึกษา
ตั้งอยู่ที่  60  หมู่ 11  เทศบาลตำบลแวง  อำเภอโพนทอง  จังหวัดร้อยเอ็ด
</p>
    </div>
  </div>
</div>
    <br><br>
<br>
            <div class="text-center">
                <img src="{% static 'images/Education/Edu4.jpg' %}" height="500" width="400"><br><br>
                <h3>ระดับ ปวช-ปวส วิทยาลัยการอาชีพโพนทอง</h3>
            </div>
            <br><br>
<br><br>
</body>
</html>
{% endblock %}