{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Home</title>
</head>
<body>
        <br>
        <h4 class="text-center">HOME</h4>
        <div class="text-center">
            <img src="{% static 'images/home/home01.png' %}" height="600" width="950">
            <div class="container-fluid p-5 text-white text-center"style="background-color: #FFB300">
            <p>THANIDAPRON CHAISOMDET</p>
            <p>NICKNAME:TONG</p>
            <p>Date of Birth:2 june 2001</p>
            <p>AGE:21</p>
            <p>GENDER: Woman</p>
            <p>Weigth:57</p>
            <p>Heigth:174</p>
            <p>Religion :Buddhism</p>
            <p>nationality :Thai</p>
            <p>race :Thai</p>
                <p>ฝึกประสบการณ์ ประกอบวิชาชีพ   บริษัท Cp all จำกัด</p>
        </div>
        <br><br>
</body>
</html>
{% endblock %}