<title>Idol</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
<br>
    <h1 class="text-center"style="color: #FF8F00">My IDOL</h1>
    <div class="text-center">
        <img src="{% static 'images/idol/idol2.png' %}" width="960" height="450"><br><br>
        <h2 style="color: #FF8F00">บุคคลต้นแบบคือ "ครอบครัวของฉัน"</h2><br>
        <img src="{% static 'images/idol/idol1.png' %}" width="960" height="185">
    </div>
</head>
<body>
    <div class="text-center">
        <br>
        <h2 style="color: #FF8F00">ไอดอลของฉัน </h2>
        <br>
        <h5 style="color: #FFA000">ไอดอลของฉัน คือ “ครอบครัวของฉัน” เพราะฉันคิดว่าไม่มีใครเก่งไปมากกว่าครอบครัวของฉันทุกคนเค้าคือคนที่ฉันรักมาก</h5>
        <h5 style="color: #FFA000">มี ตา มียาย มี แม่ ป้า น้า ที่เข้มแข็ง อดทน ไม่ว่าปัญหาใดๆในชีวิต เค้าคือบุคคลต้นแบบสำหรับฉัน</h5>
    </div>
<div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <img src="{% static 'images/idol/idolp1.jpg' %}" height="300" width="300">
                <h3></h3>
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/idol/idolp2.jpg' %}" height="300" width="300">
                <h3></h3>

            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/idol/idolp3.jpg' %}" height="300" width="300">
                <h3></h3>
                <br><br>
            </div>
                        <div class="col-sm-4">
                <img src="{% static 'images/idol/idolp4.jpg' %}" height="300" width="300">
                <h3></h3>
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/idol/idolp5.jpg' %}" height="300" width="300">
                <h3></h3>

            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/idol/idolp6.jpg' %}" height="300" width="300">
                <h3></h3>
                <br><br>
        </div>
    </div>
</div>
</div>
</body>
</html>
{% endblock %}