<br>
<ul class="list-group">
    <li class="list-group-item active" style="background-color: #FFC107"><b>Menu:</b></li>
    <li> <a href="{% url 'Home' %}"
        class="list-group-item list-group-item-action list-group-item-light"style="color: #FFA000">Home</a> </li>
    <li> <a href="{% url 'Profile' %}"
        class="list-group-item list-group-item-action list-group-item-light"style="color: #FFA000">Profile</a> </li>
    <li> <a href="{% url 'Education' %}"
        class="list-group-item list-group-item-action list-group-item-light "style="color: #FFA000">Education</a> </li>
    <li> <a href="{% url 'Interests' %}"
        class="list-group-item list-group-item-action list-group-item-light "style="color: #FFA000">Interests</a> </li>
    <li> <a href="{% url 'Sale' %}"
        class="list-group-item list-group-item-action list-group-item-light "style="color: #FFA000">Sale</a> </li>
    <li> <a href="{% url 'Idol' %}"
        class="list-group-item list-group-item-action list-group-item-light "style="color: #FFA000">Idol</a> </li>
    <li> <a href="{% url 'myShowData' %}"
        class="list-group-item list-group-item-action list-group-item-light "style="color: #FFA000">myShowData</a> </li>
</ul>