<title>Profile</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>

    </head>
    <br><br>
    <body>
    <div class="container-fluid p-5 text-white text-center"style="background-color: #FFB300">
        <h1>My Profile</h1>
        <p>ข้อมูลส่วนตัว</p>
    </div>
    <div>
        <br>
        <div class="container-fluid p-5 text-white text-center"style="background-color: #FFB300">
        <img src="{% static 'images/profile/Profile2.jpg' %}" width="700" height="600">
    </div>
            <div class="col-sm-4">
                <div class="text-bg-danger text-center" </div>
               <h2>ช่องทางการติดต่อ</h2>
                    <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="btn btn-outline-primary border w-100" href="https://www.facebook.com/profile.php?id=100015140836266">Facebook</a>
                    </li>
                    <button type="button" class="btn btn-outline-warning w-100">Tell :  0838828604</button>
                        <button type="button" class="btn btn-outline-success">Line : tong0982261592</button>
                </ul>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}