<title>Profile</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
        <br>
        <div>
            <h2 class="text-center" style="color: #FF8F00">Thanidaporn Shop</h2>
            <img src="{% static 'images/Sale/sale.PNG' %}" height="425" width="960">
        </div>
    </head>
    <body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <img src="{% static 'images/Sale/shop1.jpg' %}" height="300" width="300">
                <h3>Perry <button type="button" class="btn btn-light text-light" style="background-color: #FF8F00">99</button></h3>
                <p>สบู่เพอร์รี่ เคลียร์ปัญหาสิว กู้ผิวกลับมาสุขภาพดี ลดรอยจากสิว
                    ผิวฉ่ำ เพิ่มความสดชื่น หน้ากระจ่างใส. กลิ่นหอม
                    - สารสกัดจากสมุนไพร 12 ชนิด</p>
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/Sale/shop2.jpg' %}" height="300" width="300">
                <h3>𝗠𝗦 𝗠𝗜𝗟𝗗 𝗦𝗞𝗜𝗡<button type="button" class="btn btn-light text-light"style="background-color: #FF8F00">290</button></h3>
                <p>ครีมบำรุงผิวหน้าสูตรกลางคืน ☾シ
                    𝗠𝗦 𝗠𝗜𝗟𝗗 𝗦𝗞𝗜𝗡 𝗡𝗜𝗚𝗛𝗧 𝗖𝗥𝗘𝗔𝗠
                    ลดสิว ลดรอยดำรอยแดงจากสิว
                    ผิวหน้าขาวกระจ่างใส อิ่มฟู อิ่มน้ำ

                    ขนาด 10 กรัม</p>
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/Sale/shop3.jpg' %}" height="300" width="300">
                <h3>เซรั่มms <button type="button" class="btn btn-light text-light"style="background-color: #FF8F00">290</button></h3>
                <p>แนะนำเซรั่มms ลดความมัน ลดการเกิดสิว ผิวกระชับ เนียนใสขึ้น
                    💦เนื้อเซรั่มเข้มข้น เกลี่ยง่าย ไม่เหนียว ซึมง่าย</p>
                <br><br>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}